.app {
  font-weight: 500;
  .main {
    margin: 0 auto;
    width: 650px;
    background-color: white;
    border-radius: 8px;
    // Start Header
    .header {
      width: 100%;
      padding: 6px 16px 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        margin-bottom: 4px;
        font-size: 18px;
        color: #4b526a;
        line-height: 34px;
      }
    }
    .no-border {
      border-bottom: none;
    }
    // End Header

    // Start Thông tin cá nhân
    .benhanbenhnhan-container {
      padding-bottom: 20px;
      font-size: 14px;
      .infomation {
        width: 100%;
        border-top: 1px solid #d1d4d7;
        padding: 6px 16px 0 16px;
        &-title {
          font-size: 14px;
          color: #4b526a;
        }
        &-container {
          margin-top: 4px;
          padding: 0 16px;
          &-list {
            display: flex;
            &-item {
              display: flex;
              span {
                line-height: 28px;
                font-size: 14px;
                display: block;
              }
              &:first-child {
                span:first-child {
                  color: #4472c4;
                  width: 105px;
                }
                span:last-child {
                  color: #4b526a;
                  width: 260px;
                }
              }
              &:last-child {
                span:first-child {
                  color: #4472c4;
                  width: 80px;
                }
                span:last-child {
                  color: #4b526a;
                  width: 260px;
                }
              }
            }
            &:last-child {
              flex-direction: column;
            }
          }
        }
      }
      // End Thông tin cá nhân

      // start bệnh án
      .benhAn {
        width: 100%;
        padding: 6px 16px 0 16px;
        margin-top: 10px;
        &-title {
          font-size: 14px;
          color: #4b526a;
        }
        &-container {
          padding: 0 16px;
          &-list {
            margin-top: 8px;
            &-item {
              margin-top: 12px;
              &-pri {
                width: 100%;
                height: 40px;
                background-color: #4472c4;
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 8px;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.2s linear;
                &-icon {
                  display: inline;
                }
                &:hover {
                  opacity: 0.9;
                }
              }

              &-sec {
                color: #4b526a;
                margin: 4px 0 0 8px;
              }
            }
          }
        }
      }
      // end bệnh án

      // start tổng hợp
      .tonghop {
        width: 100%;
        font-size: 14px;
        padding: 6px 16px 0 16px;
        margin-top: 10px;
        &-title {
          color: #4b526a;
          font-size: 14px;
        }
        &-container {
          padding: 0 16px;
          &-list {
            margin-top: 8px;
            &-item-2,
            &-item-3 {
              margin-top: 12px;
              border: 1px solid #d1d4d7;
              padding: 8px;
              border-radius: 8px;
              &-title {
                color: #4472c4;
              }
              &-box {
                color: #4b526a;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                  line-height: 28px;
                }
              }
            }
            &-item-3 {
              &-box {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                span {
                  font-size: 14px;
                  line-height: 28px;
                  flex: 1;

                  &:nth-child(2) {
                    text-align: center;
                  }

                  &:last-child {
                    text-align: right;
                  }
                }
              }
            }
          }
        }
      }
      // end tổng hợp
    }
  }
}

// start slide
.slider-container {
  position: relative;
  max-width: 800px;
  margin: 10px auto 0;
  border-radius: 10px;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-image {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.nav-btn {
  background-color: white;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 100%;
  color: #4b526a;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &.prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &.next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.nav-btn:hover {
  opacity: 0.9;
}

.caption {
  text-align: center;
  padding: 10px;
  color: #4b526a;
  font-size: 14px;
  &-over {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreen-slider .slider-image {
  width: 100%;
  height: 550px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 60px;
  right: 12px;
  border-radius: 100%;
  background-color: white;
  color: #4b526a;
  font-size: 18px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.close-btn:hover {
  opacity: 0.9;
}
// end slide

// start responsive
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    width: 100% !important;
    .header {
      display: flex;
      flex-direction: column-reverse;
    }
    .header-title {
      font-size: 14px !important;
    }
    .benhanbenhnhan-container span,
    div,
    p {
      font-size: 10px !important;
    }
    .infomation .infomation-container .infomation-container-list {
      display: flex;
      flex-direction: column;
      .infomation-container-list-item span {
        line-height: 20px !important;
        &:first-child {
          width: 80px !important;
        }
        &:last-child {
          flex: 1;
        }
      }
    }
    .benhAn-container-list-item-pri {
      height: 34px !important;
    }
    .tonghop-container-list-item-2-box,
    .tonghop-container-list-item-3-box {
      span {
        line-height: 20px !important;
      }
    }
  }
}

/* Medium devices (landscape tablets, 600px to 768px ) */
@media (min-width: 600px) and (max-width: 768px) {
  .main {
    width: 500px !important;
    .header-title {
      font-size: 14px !important;
    }
    .benhanbenhnhan-container span,
    div,
    p {
      font-size: 10px !important;
    }
    .infomation
      .infomation-container
      .infomation-container-list
      .infomation-container-list-item
      span {
      line-height: 20px !important;
      &:first-child {
        width: 75px !important;
      }
    }
    .benhAn-container-list-item-pri {
      height: 34px !important;
    }
    .tonghop-container-list-item-2-box,
    .tonghop-container-list-item-3-box {
      span {
        line-height: 20px !important;
      }
    }
  }
}
// end responsive
