<!-- <xb-input-phonenumber></xb-input-phonenumber> -->
<!-- start infomation -->
<div class="infomation">
  <!-- start container -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 info-container">
        <div class="container-primary">
          <span class="header-info">Thông tin cá nhân</span>
          <div class="container-info">
            <div class="numberBN">
              <p>Họ và tên:</p>
              <p>{{ clientList[0].clientName }}</p>
            </div>
            <div class="numberBN-row">
              <div class="numberBN">
                <p>Sinh năm:</p>
                <p>{{ clientList[0].namSinh }}</p>
              </div>
              <div class="numberBN">
                <p>Giới tính:</p>
                <p>{{ clientList[0].gioiTinh }}</p>
              </div>
            </div>
            <div class="numberBN">
              <p>Số điện thoại:</p>
              <p>{{ clientList[0].dienThoai }}</p>
            </div>
            <div class="numberBN-row">
              <div class="numberBN">
                <p>Chiều cao:</p>
                <p>{{ clientList[0].chieuCao + "cm" }}</p>
              </div>
              <div class="numberBN">
                <p>Cân nặng:</p>
                <p>{{ clientList[0].canNang + "kg" }}</p>
              </div>
            </div>
            <div class="numberBN BN-email">
              <p>Email:</p>
              <p>{{ clientList[0].email }}</p>
            </div>
            <div class="numberBN">
              <p>Địa chỉ:</p>
              <p>{{ clientList[0].address }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->

      <!-- Start Bệnh án -->
      <div class="BenhAn col-12 col-lg-6">
        <div class="container-primary">
          <span class="header-info">Bệnh án</span>
          <!-- start container -->
          <div class="container-content">
            <!-- item -->
            <ng-container *ngFor="let item of benhSu.benhAns">
              <div class="BA_item" (click)="navigateDetail(item.benhAnId)">
                <div class="content">
                  <div class="content-address">
                    <span>{{ item.ngay | date : "dd/MM/yyyy" }}</span>
                    <span>{{ item.soLuuTru }}</span>
                  </div>
                  <p>Chuẩn đoán: {{ item.chuanDoan }}</p>
                </div>
                <svg
                  width="14"
                  height="25"
                  viewBox="0 0 14 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 22.5274L12 12.4007L2 2.27393"
                    stroke="black"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="BA_item" (click)="navigateDetail(item.benhAnId)">
                <div class="content">
                  <div class="content-address">
                    <span>{{ item.ngay | date : "dd/MM/yyyy" }}</span>
                    <span>{{ item.soLuuTru }}</span>
                  </div>
                  <p>Chuẩn đoán: {{ item.chuanDoan }}</p>
                </div>
                <svg
                  width="14"
                  height="25"
                  viewBox="0 0 14 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 22.5274L12 12.4007L2 2.27393"
                    stroke="black"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- end container -->
      </div>
      <!-- End Bệnh án -->
    </div>
  </div>
</div>
<!-- end infomation -->

<xb-synthetic></xb-synthetic>
