.infomation {
  margin-bottom: 20px;
  .info-container {
    border-radius: 12px 0 0 12px;
    padding-top: 12px;
    .container-primary {
      background-color: white;
      border-radius: 12px;
      padding: 16px;
    }
    .header-info {
      font-size: 22px;
      color: #0d83dd;
      margin-bottom: 22px;
      display: inline-block;
    }
    .container-info {
      padding-left: 12px;
      padding-right: 12px;
    }
    .numberBN {
      display: flex;
      align-items: center;
      p:first-child {
        width: 130px;
        font-size: 16px;
        color: #0d83dd;
        display: block;
        flex-shrink: 0;
      }
      p:last-child {
        max-width: 400px;
        font-size: 16px;
        color: #4b526a;
        word-wrap: break-word;
        line-height: 26px;
      }
      &-row {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// Bệnh án
.BenhAn {
  border-radius: 0 12px 12px 0;
  padding-top: 12px;
  .container-primary {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    height: 100%;
  }
  .header-info {
    font-size: 22px;
    color: #0d83dd;
    display: inline-block;
    margin-bottom: 14px;
  }
  .container-content {
    background-color: white;
    border-radius: 0 0 12px 12px;
    padding-bottom: 20px;
    max-height: 260px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    .BA_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px #cacece;
      padding: 8px 10px;
      cursor: pointer;
      &:hover {
        background-color: #4b526a1c;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #0d83dd;
        font-size: 16px;
        &-address {
          display: flex;
          gap: 100px;
        }
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
  }
}

// reponsive
@media (min-width: 800px) and (max-width: 1024px) {
}

@media screen and (max-width: 799.9px) {
}

@media screen and (max-width: 575.9px) {
  .container {
    max-width: 100% !important;
  }
  .numberBN-row {
    flex-direction: column;
  }
  .numberBN.BN-email {
    flex-direction: column !important;
    align-items: start !important;
  }

  .BA_item {
    .content {
      gap: 10px !important;
      p {
        line-height: 22px !important;
      }
    }
    svg {
      display: none;
    }
  }
}
