.custom-container {
  p {
    margin: 0;
  }
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  .BenhAn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    &-header {
      display: flex;
      justify-content: space-between;
      h1 {
        color: #0d83dd;
        font-size: 28px;
        margin: 0 0 12px 0;
      }
      .close-button {
        background-color: transparent;
        border-radius: 1000px;
        border: none;
        color: #4b526a;
        font-size: 26px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.2s linear;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .ChuanDoan {
    display: flex;
    align-items: center;
    border: solid 1px #cacece;
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 12px;
    p {
      color: #0d83dd;
      font-size: 14px;
      line-height: 28px;
      font-weight: 500;
      flex-shrink: 0;
      margin: 0;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      margin-left: 8px;
      display: block;
    }
  }

  .XetNghiem {
    border: solid 1px #cacece;
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 12px;
    &-title {
      display: flex;
      justify-content: space-between;
      p {
        color: #0d83dd;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    &-des {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        flex-shrink: 0;
        width: 50%;
        &:last-child {
          text-align: right;
        }
      }
    }
    &-img {
      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-bottom: 20px;
        img {
          max-height: 400px;
          max-width: 400px;
          object-fit: cover;
          border-radius: 12px;
          cursor: pointer;
          transition: opacity 0.3s linear;
          &:hover {
            opacity: 0.8;
          }
        }
        span {
          color: #4b526a;
          line-height: 28px;
          font-size: 14px;
          margin-bottom: 12px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .Thuoc {
    border: solid 1px #cacece;
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 12px;
    gap: 0;
    display: flex;
    flex-direction: column;
    &-title {
      display: flex;
      justify-content: space-between;
      p {
        color: #0d83dd;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    &-container {
      display: flex;
      justify-content: space-between;
    }
    &-des {
      line-height: 28px;
      font-size: 14px;
      font-weight: 400;
      padding-left: 12px;
      &-name {
        max-width: 500px;
        font-weight: 400;
        line-height: 28px;
        font-size: 14px;
      }
      &-use {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: 665px) {
  .XetNghiem-img-container img {
    max-width: 300px !important;
    max-height: 300px !important;
  }
  .Thuoc {
    flex-direction: column !important;
    gap: 10px;
    &-des {
      padding: 0 !important;
    }
  }
}
