.input_BN {
  position: relative;
  width: 370px;
  float: right;
  margin-bottom: 8px;
  input {
    width: 100%;
    height: 40px;
    padding: 8px 46px 8px 12px;
    border-radius: 8px;
    outline: none;
    border: solid 1px #dddedf;
    font-size: 14px;
  }
  &-icon {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 4px;
    height: 32px;
    width: 32px;
    background: #4472c4;
    border-radius: 8px;
    transition: all 0.2s linear;
    &:active {
      transform: scale(0.95);
    }
  }
}

@media only screen and (max-width: 600px) {
  .input_BN {
    width: 340px;
    max-width: 360px;
    input {
      height: 32px;
      font-size: 10px;
    }
    &-icon {
      right: 3px;
      top: 3px;
      height: 26px;
      width: 26px;
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .input_BN {
    width: 280px;
    input {
      height: 36px;
      font-size: 10px;
    }
    &-icon {
      right: 3px;
      top: 3px;
      height: 30px;
      width: 30px;
    }
  }
}
